
html.light{

}

html.dark{
  background-color: rgb(31, 32, 36) !important;
}

.light{
  .v-md-editor__main, .github-markdown-body div, .line-numbers-mode:after{
    background: @bac !important;
  }
}

.dark{
  .v-md-editor__main, .github-markdown-body div{
    //background: rgba(255,255,255,.5) !important;
  }

  .v-md-textarea-editor textarea{
    color: rgba(255, 255, 255, 1) !important;
  }
}

.outLimL,.container{
  @media (max-width: 1200px){
    max-width: 95vw!important;
  }

  @media (min-width: 1200px){
    max-width: 1000px!important;
  }
}

.border-n{
  transition-duration: @time-n;
  border-radius: @radio-n;
  border: @fontColor-light 1px solid;

  &:hover{
    border: @themeActiveColor solid 1px;
  }
}

@fontSize-n: 1.1rem !important;

.width100Imp{
  width: 100% !important;
}
*{
  user-select: @themeActiveColor;
}
