<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<form id="form1">
    <label>
        <input id="username" type="text" value="icestone">
        <input id="password" type="text" value="123456">


        <button class="sub" type="button">点击触发提交</button>
    </label>
</form>


<div class="footer">
<p class="title">
	鄂ICP备2021010206号
</p>
</div>
<script src="/js/modules/all.js"></script>
<script src="/js/momo.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
