
audio::-webkit-media-controls-play-button {
    display: none;
}

audio::-webkit-media-controls-volume-control-container {
    display: none;
}

/* 设置audio标签的背景色为透明 */
audio {
    background-color: transparent;
}