// 编辑器style
.v-md-editor__main {
  .github-markdown-body {
    display: flex;
    flex-direction: column;

    pre {
      padding: 0;
      padding-left: 3.5rem !important;
    }

    blockquote {
      display: flex;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    .line-numbers-mode:after {
      width: 3rem !important;
    }

    ul {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
}
